<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.rsbideveloper.rsbi">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- so what permissions should be requested instead then ? -->

    <!-- TODO: android:allowBackup -> this affects what happens to the databases when uninstalling the app -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSBI">

        <service
            android:name=".test.ServiceCom"
            android:label="ServiceTesting"/>

        <receiver
            android:name=".test.AirplaneModeChangedBroadcastReceiver"
            android:label="AirplaneBroadcastReceiver">
            <!-- intent-filter ? -->
        </receiver>


        <!-- hardwareAccelerated, really ? -->
        <activity
            android:hardwareAccelerated="true"
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RSBI.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>
</manifest>